
Week 3/build_functions/.vs/build_functions/v15/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
*.log
*.user
*.obj
*.lastbuildstate
*.tlog
*.tlog
*.idb
*.pdb
*.exe
*.ilk
Week 4/program 1/.vs/program 1/v15/.suo
Week 3/circumference/.vs/circumference/v15/.suo
